.header-csyt{
    display: flex;
    padding-top: 50px;
   
}
.btn-logout{
    margin-right: 20px;
}
.input-find{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 250px;
}
.text-find{
    font-size: 20px;
    padding-bottom: 20px;
    color: #1f0bfa;
   
  
}
.find h2{
    color: #1f0bfa;
    
}
ul#page-numbers {
    margin-left: -330px;
    margin-top: 50px;
}