.header-csyt{
    display: flex;
    padding-top: 50px;
   
}
.btn-logout{
    margin-right: 20px;
}
.input-find{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 250px;
}
.text-find{
    font-size: 20px;
    padding-bottom: 20px;
    color: #11a825;
    border-bottom: 1px solid #2aaa79;
  
}
.find h2{
    color: #11a825;
    
}
*{
    background-color: #fff;
}
