.header-csyt{
    display: flex;
    padding-top: 50px;
   
}
.btn-logout{
    margin-right: 20px;
}
.input-find{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 250px;
}
.text-find{
    font-size: 20px;
    padding-bottom: 20px;
    color: rgb(11, 29, 46);
}
