.tieude{
    text-align: center;
}
.search{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
    
}
.iconsearch{
    margin-left: 20px;
}
.search input{
   
    display: inline-block ;
}
.luachon {
    
    padding-top: 30px;
    padding-bottom: 20px;
}
.luachon ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.luachon ul li {
    margin: 0;
    padding: 5px;
}

.luachon a {
    text-align: center;
    padding: 5px 5px;
    color: #333;
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: bold;
}
.content-1{
   padding-bottom: 50px;
   padding-top: 50px;
}
.content-2{
    
    padding-bottom: 50px;
    padding-top: 50px;
 }

.content-3{
 
    padding-bottom: 50px;
    padding-top: 50px;
 }
 .content-3{
  
    padding-bottom: 50px;
    padding-top: 50px;
 }
.title-2{
    display: flex;
    padding-bottom: 30px;
}
.title-2 h3{
    margin-right: 900px;
}
.img-ct3{
    padding-right: 20px;

}
#baiviet{
    width: 300px;
    height: 180px;
    margin-right: 20px;
}
.content-4 a{
    font-size: 18px;
    margin-top: 70px;
    margin-right: 10px;
}
.content-4 {
  
    padding-top: 20px;
    padding-bottom: 20px;
}

#img-ct1{
    width: 300px;
    height: 180px;
    padding-bottom: 20px;
}
.content-1 li {
    margin-left: 20px;
  
}
.content-1 ul {
  padding-bottom: 15px;
  
}
.content-1 .xemct {
    margin-left: 100px;
    text-decoration: none;
    color: #45c3d2;
    font-size: 18px;
}
.w3-display-right{
   
    height: 50px;
    margin-top: 60px;
}
.flex{
    display: flex;
}
