.tieude{
    padding-top: 30px;
}
.wrap {
    margin: 2% 7%;
}
.weather{
    display: flex;
    gap: 20px;
    position: absolute;
    transform: translateX(38%);
}
.nameTag{
    position: absolute;
    transform: translate(29%, -35%);
}
.nameTag Button{
    margin-left: 20px;
    background-color: #f0f0f0;
    border: none;
}
.nameTag Button:hover{
    color: white;
    animation: transcolor ease-in 1s infinite;
}
@keyframes transcolor{
    0%{
        background: #66CDAA;
    }
    50%{
        background: #b404ff;
    }
    100%{
        background: #ff5804;
    }
}

@media only screen and (max-width: 1000px) {
    .thoiTiet{
display: none;
    }
}
@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .block1 {
        margin: 0px -21px;
    }

    .block3 img {
        width: 100%;
    }

    .block3 h5 {
        margin-right: 1%;
    }

}

@media only screen and (min-width: 483px) and (max-width: 820px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .block1 {
        order: 2;
    }

    .block1 img {
        width: 50%;
        height: auto;
    }

    .block2 {
        order: 1;
    }

    .block3 {
        display: flex;
        order: 3;
    }
}