.tieude{
    text-align: center;
}
.search{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
    
}
.iconsearch{
    margin-left: 20px;
}
.search input{
   
    display: inline-block ;
}
.luachon {
    
    padding-top: 30px;
    padding-bottom: 20px;
}
.luachon ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.luachon ul li {
    margin: 0;
    padding: 5px;
}

.luachon a {
    text-align: center;
    padding: 5px 5px;
    color: #333;
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: bold;
}
.content-1{
   padding-bottom: 50px;
   padding-top: 50px;
}
.content-2{
    
    padding-bottom: 50px;
    padding-top: 50px;
 }

.content-3{
 
    padding-bottom: 50px;
    padding-top: 50px;
 }
 .content-3{
  
    padding-bottom: 50px;
    padding-top: 50px;
 }
.title-2{
    display: flex;
    padding-bottom: 30px;
}
.title-2 h3{
    margin-right: 900px;
}
.img-ct3{
    padding-right: 20px;

}
#baiviet{
    width: 300px;
    height: 180px;
    margin-right: 20px;
}
.content-4 a{
    font-size: 18px;
    margin-top: 70px;
    margin-right: 10px;
}
.content-4 {
  
    padding-top: 20px;
    padding-bottom: 20px;
}

#img-ct1{
    width: 300px;
    height: 180px;
    padding-bottom: 20px;
}
.content-1 li {
    margin-left: 20px;
  
}
.content-1 ul {
  padding-bottom: 15px;
  
}
.content-1 .xemct {
    margin-left: 100px;
    text-decoration: none;
    color: #45c3d2;
    font-size: 18px;
}
.w3-display-right{
   
    height: 50px;
    margin-top: 60px;
}
.flex{
    display: flex;
}

.carousel-img{
    width: 300px;
    height: 180px;    
    margin-right: 50px;
   
}
.content-5{
    /* background-color: #f5f5f5; */
    padding-top: 50px;
    padding-bottom: 50px ;
}
.carousel-control-next-icon {
    background-color: coral;
}
.carousel-control-prev-icon {
    background-color: coral;
        margin-left: -180px;
    
}
.carousel-caption{
color: #333;
}
.carousel-indicators {
    display: none;
}
.camnang{
    display: flex;
    padding-bottom: 20px;

}

.btn-all-post{
   margin-left: 1000px;
   
}
.carousel-item img{
    width: 300px;
    height: 180px;    
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    /* .carousel-item {
      margin-right: 0;
      flex: 0 0 66.333333%;
      display: block;
    } */
  }
  .carousel-inner{
    padding: 1em;
}



.cta-100 {
    margin-top: 100px;
    padding-left: 8%;
    padding-top: 7%;
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -20px;padding-top: 20px;}
  .bg-blue-ui {
    background-color: #708198 !important;
  }
  figure img{width:300px;}
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  
  .blog .carousel-indicators .active {
    background: #0fc9af;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
  
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
  