body {
    background-image: linear-gradient(to right, #ff5722, #ff9800);
    /* margin-top: 50px !important; */
    padding-top: 60px !important;
}

.left {
    text-align: center;
    color: #fff;
}

.left .btn-SM {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 700;
    color: #555;
    margin-top: 20px;

}

.left .btn-SM:hover {
    background: #000;
    color: #f8f8f8;
}

.right {
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    text-align: center;
    padding: 57px;
}

.submit {
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #fF9800 !important;
    font-weight: 500;
    color: #fff !important;

}

.submit:hover {
    background: #ff5722 !important;
}

img {
    width: 120px;
    margin-top: 60px;
    margin-bottom: 18px;
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

/* .submit {
    margin: auto;
    display: block;
    background-color: orangered;
    padding: 5px 30px;
    color: white;
}

.action {
    border: none;
    font-size: 17px;
}

.anticon-upload {
    transform: translateX(24px);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.btn {
    border: 1px solid #d9d9d9;
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-left: 91%;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: orangered;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

label {
    color: orangered !important;
} */