.login-background {
    border: 1px solid #ccc;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;

    .login-container {
        margin-top: 40px;
        width: 400px;
        height: 380px;
        margin: auto;
       border-radius: 10px;
       background-color: white;
       position: absolute;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;

       .login-content {
        padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 13px;
            }
            .login-input {
                margin: 7px 0;
                .custon-input-password {
                    position: relative;
                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;

                    }
                }
            }
            input.form-control {
                margin-top: 10px;
            }
            .btn-login {
               background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
                outline: none;
                border: none;
                color: #fff;
                border-radius: 15px;
                height: 40px;
                width: 40%;
                margin: 20px 0;
                margin-right: 70px;
            }
            .btn-sign {
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
                 outline: none;
                 border: none;
                 color: #fff;
                 border-radius: 15px;
                 height: 40px;
                 width: 40%;
                 margin: 20px 0;
             }
            .forgot-password{
                font-size: 12px;
            }
            .text-center {
                text-align: center;
                
            }
            .social-login {
                display: flex;      
                justify-content: center;
                margin-top: 10px;  
               .login-google {
                font-size: 30px;
                background: #e34133;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                margin-right: 10px;
               }   
               .login-facebook {
                font-size: 30px;
                background:#4081ec;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                
               }
        }       
      }
    }
}