            //slick slider 
            .slick-prev {
                // border: 1px solid green !important;
                left:  7px !important;
                z-index: 1 !important;
                width: 44px!important;
                height: 48px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;
            
                &:hover {
                    background: #d7d7 !important;
            
                }
            }
            
            .slick-prev:before, .slick-next:before {
                font-family: FontAwesome !important;
                color: #000 !important;
            }
            
            .slick-next {
                // border: 1px solid orange !important;
                right: 9px !important;
                width: 44px!important;
                height: 48px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;
                &:hover {
                    background: #d7d7 !important;
            
                }
                
            }
            .section-share {
                &.section.specialty {
                    background: #fff;
                }
                &.section-outstanding-doctor {
                    background: #f5f5f5;
                }

                &.section-about {
                    // border: 1px solid red;
                    height: 500px !important;
                    border-top: 1px solid #f5f5;
                    border-bottom: 1px solid #f5f5;


                    
                }

                .section-body {
                    .section-customize {
                        .bg-image {
                            margin: 0 35px;
                            width: 278px;
                            height: 150px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-color: #eee;
                            
                            &.section-specialty {
                                background-image: url('../../assets/specialty/khoaps.jpg');

                            }
                            &.section-medical-facility {
                                background-image: url('../../assets/medical/muihong.jpg');

                            }

                            &.section-outstanding-doctor {
                                background-image: url('../../assets/outstanding-doctor/avatar1.jpg');
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                            }
                            &.section-handbook {
                                background-image: url('../../assets/handbook/anh1.png');

                                

                            }
                        
                        }
            
        
                    }
        
                }
            
            }



            .section-share {
                height: 300px;
                background: #fff;
                .section-content {
                    display: flex;
                    flex-direction: column;
                    margin: 0 150px;
            
                    .section-header {
                        height: 60px;
                        margin-bottom: 20px;
                        padding-top: 20px;
            
                        .title-section {
                            font-size: 22px;
                            font-weight: 600;
                            margin: 0 33px;
            
                        }
                        .btn-section {
                            float: right;
                            display: block;
                            padding: 10px 15px;
                            border: none;
                            outline: none;
                            background: #ebebeb;
                            color: #000;
                            cursor: pointer;
            
                            &:hover {
                                color: #fff;
                                background:#f7d800;
                            }
            
                        }
                    }
            
                  
                }   
            }

            .section-outstanding-doctor {
                .outer-bg {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                }
                .section-customize {
                    padding: 30px;
                    .customize-border {
                        border: 1px solid red;
                        padding: 8px;

                    }

                }

            }
            
            .home-footer {
                text-align: center;
            }

            .section-about {
                margin: 0 ;
                .section-about-header {
                    padding: 20px 10px;
                    font-size: 22px;
                    font-weight: 600;                        
                }
            }

            .section-about-content {
                display: flex;
                gap: 15px;
                width: 100%;
                .section-left {
                    width: 60%;

                }
                .section-right {
                    width: 40%;

                    p{
                        text-align: justify;
                        font-style: italic;
                    }

                }
            }

           
            