.form-label-ma-toa{
    margin-left: 40%;
    padding-top: 5px;
}
.nhapMaToa{
    margin-top: 20px;
}
.form-control-ma-toa{
    width: 100%;
}
.btn-tim{
    padding: 5px 15px 5px 15px;
    margin-top: -2px;
    border: none;
    border-radius: 8px;
    background: #4345ff;
    color: #fff;
}
.bang-thuoc-border{
    border: #000 1px solid; 
    text-align: center;
}
.bang-thuoc-border-right{
    border-right: #000 1px solid !important;
    margin-left: 20px;
    text-align: left;
}
.bang-thuoc{
    margin-top: 50px;
}
.soLuong{
    // margin-left: 50%;
}